<app-navbar></app-navbar>

<h1>App component</h1>
<app-check-sample *ngIf="isAliviedCheckSample"></app-check-sample>
<button (click)="setisAliviedCheckSample()">Death component</button>

<div class="inputDiv">
  <app-input (valueInputOutput)="setValueFromInput($event)"></app-input>
  <p>{{ valueFromInput }}</p>
</div>

<div>
  <div class="container-card">
    <app-card></app-card>
  </div>

  <ng-template #anotherBlock>
    <p>Ola sou um bloco secreto</p>
  </ng-template>
</div>
<router-outlet></router-outlet>
